

.next-prev-page {
	display: flex;
	justify-content: space-between;
}

.next-page {
	float: right;
}

.prev-page {
	float: left;
}

.clear {
	clear: both;
}

.post-item {
	transition: transform 1s, background-color 1s;
	transform-origin: left top;
}
.post-item:hover {
	transform: rotate(5deg) translate(20px);
	background-color: #dc41c9;
}